.OrderDetails-box {
    border: 1px solid black;
    max-width: 400px;
    width: 100%;
    margin: 10px;
}

.OrderDetails-bold {
    font-weight: bold;
    text-align: center;
}

.OrderDetails-text-box {
    margin-top: 30px;
    text-align: center;
}