.ItemsList-box {
    border: 1px solid black;
    max-width: 400px;
    width: 100%;
    margin: 10px;
}

.ItemsList-bold {
    font-weight: bold;
    text-align: center;
}

.ItemsList-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}