.OrderDetail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.OrderDetail-name-quantity {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}

.OrderDetail-name {
  margin-right: 30px;
}

.OrderDetail-price {
  flex-basis: 50%;
}

.OrderDetail-btn {
  outline: none;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  border-radius: 10px;
  border: 0;

  width: 40px;
  height: 20px;
  font-size: 16px;
  color: white;
  background: lightslategray;
}

.OrderDetail-btn:active {
  background: inherit;
  color: lightslategray;
  border: 1px solid lightslategray;
}